body{
    background-color: #1a1a1a;
}


.title{
    font-size: 20px;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #fff;
}

.under{
    font-size: 10px;
    color: #636363;
    text-align: center;
    padding-bottom: 10px;
}

.switch-wrap{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #2e2e2e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e2e2e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}