:root{
    --bg-main: #222222 ;
    --extra-lines:  #1a1a1a;
    --ligth-elements:  ;
    --text-primary: #ffffff ;
    --button-onclick-red: ;
    --button-stil-red: #e60023;
    --button-onclick-grey: rgb();
    --no-color:#ffffff00fff;
    
}

body,
.aa5Agr,
.XjRT60.bCyBlM,
.cUw_ba.bCyBlM,
.ADXRXN.gcIrSY:hover,
.ADXRXN.Lo7aEl.zEVE_X,
.j0pMjI:hover,
.qzrGlv:hover,
.fAZwDI:hover,
.ADXRXN.BVzdUh._xSIdT.g8WGSl.kF2VEF.sSBu24.zEVE_X:hover{
    background: var(--bg-main) !important;
}

.ecEhnF,
.cUw_ba,
.XjRT60,
.ADXRXN.gcIrSY,
.Tu2pQF,
.j0pMjI,
.fAZwDI{
    background-color: var(--extra-lines) !important;
}

._ByyDT,
.WuRgKB{
    color: var(--text-primary) !important;

}

.aeO02S{
    color: var(--button-stil-red) !important;
}

.r97eaX{
    background-color: var(--no-color) !important;
} 

.ADXRXN.gEQpi5.nnftW_{
    background: var(--bg-main) !important;
}

.ADXRXN.TfR6nu{
    background: var(--no-color) !important;
}