body{
    background: rgb(31, 31, 31) !important;
}

._ByyDT, .WuRgKB{
    color: rgb(255, 255, 255) !important;
}

.ecEhnF, .Tu2pQF, .cUw_ba, .cUw_ba.Ivj8Ch{
    background-color: rgb(17, 17, 17) !important;
}

.aa5Agr{
    background: rgb(31, 31, 31) !important;
}

.cUw_ba.bCyBlM,.XjRT60.bCyBlM,.ADXRXN.Lo7aEl.zEVE_X{
    background-color: rgb(66, 66, 66) !important;
}

.Tu2pQF{
    box-shadow: rgb(15, 15, 15) !important;
}

.ADXRXN Lo7aEl zEVE_X{
    background-color: rgb(66, 66, 66) !important;
}